<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hs.dbbclientside">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.guide.SplashActivity"
                  android:theme="@style/SplashTheme"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.guide.GuideActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".module.login.LoginActivity"/>
        <activity android:name=".module.login.RegisterActivity"/>
        <activity android:name=".module.login.CertificationActivity"/>
        <activity android:name=".module.login.ForgetActivity"/>
        <activity android:name=".module.home.MessageActivity"/>
        <activity android:name=".module.home.UseHelpAcyivity"/>
        <activity android:name=".module.borrow.ApplyIntroduceActivity"/>
        <activity android:name=".module.borrow.ApplyActivity"/>
        <activity android:name=".module.help.CreditQueriesActivity"/>
        <activity android:name=".module.help.ApplyProcessActivtiy"/>
        <activity android:name=".module.help.ForecastToolsActivity"/>
        <activity android:name=".module.me.BillActivity"/>
        <activity android:name=".module.me.ApplyRecordActivity"/>
        <activity android:name=".module.me.PersonalInformationActivity"/>
        <activity android:name=".module.me.UploadIdCardActivity"/>
        <activity android:name=".module.me.SettingActivity"/>
        <activity android:name=".module.me.WalletActivity"/>
        <activity android:name=".module.me.DetailActivity"/>
        <activity android:name=".module.me.EnchashmentActivity"/>
        <activity android:name=".module.me.BankActivity"/>
    </application>

</manifest>